<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <application android:allowBackup="true" android:label="TOOLIVO" android:theme="@style/Theme.Toolivo" android:icon="@drawable/ic_toolivo" android:roundIcon="@drawable/ic_toolivo">
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3940256099942544~3347511713" />
        <activity android:name=".ToolActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity" android:theme="@style/Theme.Toolivo.Splash" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
